.wrapper {
  box-sizing: border-box;
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 1000;
  overflow: auto;
  outline: 0;
}

.overlay {
  box-sizing: border-box;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.inner {
  box-sizing: border-box;
  position: relative;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  background-color: #fff;
  border-radius: 10px;
  width: 60%;
  height: 70%;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  padding: 50px 20px;
}

.iconBtn {
  border: none;
  outline: none;
}
.icon {
  cursor: pointer;
  position: absolute;
  color: #007177;
  font-size: 28px;
  right: 1.5%;
  top: 1.5%;
  opacity: 0.8;
}
.icon:hover {
  opacity: 1;
}

@media screen and (max-width: 991px) {
  .inner {
    width: 80%;
    height: 70%;
  }
}
@media screen and (max-width: 767px) {
  .inner {
    width: 90%;
  }
}
