.titleContainer {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  flex-basis: 25%;
}

.title {
  text-align: center;
  color: white;
  font-size: 38px;
  letter-spacing: 0.6rem;
  line-height: 34px;
  font-weight: 700;
  width: 100%;
  padding: 50px 0;
}
.sliderContainer {
  width: 90%;
  margin: 0 auto 10px;
  flex: 1;
  position: relative;
}
.slider {
  margin: auto;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 50px 40px;
  position: relative;
}
:global .slick-slider {
  margin-bottom: 15px;
  height: 100%;
}
:global .slide-dots {
  position: static;
  margin-top: 30px;
  text-align: center;
  list-style: none;
}

:global .slide-dots > li {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
:global .slide-dots > li:not(:first-child) {
  margin-left: 10px;
}

:global .slide-dots > li > button {
  display: block;
  text-indent: -9999px;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  transition: 0.2s;
  border-radius: 50%;
}

:global .slide-dots > li > button:hover {
  background-color: rgba(255, 255, 255, 1);
}

:global .slide-dots > li.slick-active {
  background-color: rgba(255, 255, 255, 1);
}

:global .slick-slide {
  padding: 5px;
}

.slide_arrow {
  position: absolute;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255);
  opacity: 0.6;
  transition: 0.2s;
}

.slide_arrow:hover {
  opacity: 1;
}

.slide_prev {
  left: 10px;
  top: 50%;
  padding: 3px 2px 2px 0px;
}

.slide_next {
  right: 10px;
  top: 50%;
  padding: 3px 0px 2px 2px;
}

.icon {
  font-size: 20px;
  color: #007177;
}

@media screen and (max-width: 991px) {
  .sliderContainer {
    width: 100%;
  }
  .titleContainer {
    flex-basis: 30%;
  }
}

@media screen and (max-width: 591px) {
  .container {
    width: 80%;
    height: 65%;
  }
  .titleContainer {
    flex-basis: 40%;
  }
}
